/* G L O B A L    S T Y L E S */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

:root {
  --header-background-color: #f6f6f6;
  --heading-main-color: #23104E;
  --buttons-main-color: #302CA2;
  --buttons-hover-color: #7877a0;
  --card-bg-color: #dfdee4;
  --form-bg-color: #afaeb9;
  --h5-color: #23104e;
  --body-color: #032326;
  --card-shadow: -1px 17px 29px #63619c54;
}

*, *:visited {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  font-style: normal; 
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 114.5%;
  color: var(--heading-main-color);
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 145.19%;
  color: var(--heading-main-color);
}

.navbar-links {
  font-weight: 400;
  font-size: 36px;
  line-height: 145.19%;
  color: var(--buttons-main-color);
}

.navbar-links:hover {
  background: var(--buttons-hover-color);
}

h4 {
  font-weight: 400;
  font-size: 26px;
  line-height: 145.19%;
  color: var(--h5-color);
}

h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 145.19%;
  color: var(--h5-color);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--body-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 736px) {
  .container {
    width: 95%;
  }
}